body {
    max-width: 580px;
    padding: 1em;
    font-size: 16px;
    line-height: 1.3;
    font-family: sans-serif;
    background-color: #d2d2d2;
    -webkit-font-smoothing: antialiased;
}

h2 {
    font-family: serif;
    font-size: 1.1em;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 0.2em;
}

ul, p {
    margin-top: 0;
    margin-bottom: 1.4em;
}

ul {
    padding-left: 1.4em;
}

a, a:link, a:active, a:visited {
    color: #000;
    font-family: serif;
    font-style: italic;
    font-size: 1.1em;
    text-decoration: underline;
}